<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Coursework</display-name>
  <welcome-file-list>
  	<welcome-file>register.jsp</welcome-file>
  	<welcome-file>employee.jsp</welcome-file>
  	<welcome-file>education.jsp</welcome-file>
  	<welcome-file>work.jsp</welcome-file>
  	<welcome-file>department.jsp</welcome-file>
    <welcome-file>position.jsp</welcome-file>
  	<welcome-file>passport.jsp</welcome-file>
  	<welcome-file>sign.jsp</welcome-file>
  	<welcome-file>register.jsp</welcome-file>
  	<welcome-file>logout.jsp</welcome-file>
  </welcome-file-list>
    <listener>
	<listener-class>ua.cn.stu.listener.StartStopListener</listener-class>
  </listener>
  <servlet>
	<servlet-name>departmentservlet</servlet-name>
	<servlet-class>ua.cn.stu.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>employeeservlet</servlet-name>
	<servlet-class>ua.cn.stu.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>educationservlet</servlet-name>
	<servlet-class>ua.cn.stu.servlet.EducationServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>passportservlet</servlet-name>
	<servlet-class>ua.cn.stu.servlet.PassportServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>workservlet</servlet-name>
	<servlet-class>ua.cn.stu.servlet.WorkServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>positionservlet</servlet-name>
	<servlet-class>ua.cn.stu.servlet.PositionServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>signservlet</servlet-name>
	<servlet-class>ua.cn.stu.servlet.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>departmentservlet</servlet-name>
	<url-pattern>/department</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>employeeservlet</servlet-name>
	<url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>educationservlet</servlet-name>
	<url-pattern>/education</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>passportservlet</servlet-name>
	<url-pattern>/passport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>workservlet</servlet-name>
	<url-pattern>/work</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>positionservlet</servlet-name>
	<url-pattern>/position</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>signservlet</servlet-name>
	<url-pattern>/sign</url-pattern>
  </servlet-mapping>
</web-app>